<div class="col-xs-12 changePasswordPanel">
   
   <div class="col-xs-12 addAccountPanel">
      <h1 class="col-xs-12">Change password</h1>
      <div class="col-xs-6 leftColumn">
          <div class="regularInputWrapper">
              <span class="inputLabel">Enter current password</span>
              <caph-input focusable on-changed="change($event,value)" on-selected="focus($event, $originalEvent)" title="existing_password" value="changePasswordData.existing_password" max-length="150" class="regularInput"></caph-input>
          </div>
          <div class="regularInputWrapper">
            <span class="inputLabel">Confirm new password</span>
            <caph-input focusable on-changed="change($event,value)" on-selected="focus($event, $originalEvent)" title="confirm_new_password" value="changePasswordData.confirm_new_password" max-length="150" class="regularInput"></caph-input>
         </div>
      </div>
      <div class="col-xs-6 rightColumn">
          <div class="regularInputWrapper">
              <span class="inputLabel">Enter new password</span>
              <caph-input focusable on-changed="change($event,value)" on-selected="focus($event, $originalEvent)" title="new_password" value="changePasswordData.new_password" max-length="150" class="regularInput"></caph-input>
          </div>
      </div>
      <div class="col-xs-12 buttonsWrapper text-right">
          <caph-button focusable data-focusable-name="accountcancelbtn" on-selected="resetChangePassword($event, $originalEvent)" class="btn btn-secondary cancel-btn">
              <span>Cancel</span>
          </caph-button>
          <caph-button focusable data-focusable-name="accountsavebtn" on-selected="saveNewPassword($event, $originalEvent)" class="btn btn-secondary save-btn {{(purchase_pinErrorMessage.length>0 || parental_pinErrorMessage.length>0 || emailErrorMessage.length>0)?'disabled':''}}">
              <span>Change</span>
          </caph-button>
      </div>
  </div>
  
</div>
