<div class="col-xs-12 themesWrapper">
   <h1 class="col-xs-12">Themes</h1>
   <div class="col-xs-12 buttonsWrapper text-left">
       <caph-button focusable data-focusable-name="resetthemebtn" on-selected="selectTheme('light')" class="btn btn-secondary light-btn">
           <span>Light</span>
       </caph-button>
       <caph-button focusable data-focusable-name="savethemebtn" on-selected="selectTheme('dark')" class="btn btn-secondary dark-btn">
           <span>Dark</span>
       </caph-button>
   </div>
</div>