<div class="help-bar-wrapper">
    <div class="helpItem" ng-if="addToFavoritesHelpButton">
        <span class="roundBtn red">A</span><span class="helpText">Add to favorites</span>
    </div>
    <div class="helpItem" ng-if="removeFromFavoritesHelpButton">
        <span class="roundBtn red">A</span><span class="helpText">Remove from favorites</span>
    </div>

    <div class="helpItem pull-right" ng-if="goToChannelBtn">
        <span class="roundBtn green">B</span><span class="helpText">Go to channel</span>
    </div>

    <div class="helpItem pull-right" ng-if="addReminderBtn">
        <span class="roundBtn blue">D</span><span class="helpText">Add reminder</span>
    </div>
    <div class="helpItem pull-right" ng-if="removeReminderBtn">
        <span class="roundBtn blue">D</span><span class="helpText">Remove reminder</span>
    </div>

</div>
