    <div class="menuHorizontalList">
        <div class="menuItem home" data-itemindex="0" data-template="home" focusable on-selected="openTemplate($event)" data-focusable-group="mainMenu" data-focusable-name="menuitem0">
            <span class="itemTitle">Home</span>
        </div>
        <div class="menuItem liveTV" data-itemindex="1" data-template="liveTV" focusable on-selected="openTemplate($event)" data-focusable-group="mainMenu" data-focusable-name="menuItem1">
            <span class="itemTitle">Live TV</span>
        </div>
        <div class="menuItem epg" data-itemindex="2" data-template="epg" focusable on-selected="openTemplate($event)" data-focusable-group="mainMenu" data-focusable-name="menuItem2">
            <span class="itemTitle">TV guide</span>
        </div>
        <div class="menuItem settings" data-itemindex="3" data-template="settings" focusable on-selected="openTemplate($event)" data-focusable-group="mainMenu" data-focusable-name="menuItem3">
            <span class="itemTitle">Settings</span>
        </div>
        <div class="menuItem search" data-itemindex="4" data-template="search" focusable on-selected="openTemplate($event)" data-focusable-group="mainMenu" data-focusable-name="menuItem4">
            <span class="itemTitle">Search</span>
        </div>
    </div>
