<div class="channelListWrapper col-xs-12">
    <h2>Favorite Channels</h2>
    <caph-list container-class="channelList" items="item in favoriteChannels" loop="false">
        <div class="channelItem favoriteChannel" data-focusable-next-focus-up="highLightedItem0" data-focusable-name="favoriteChannel{{$index}}" data-itemindex="{{$index}}" data-channelitem="true" focusable on-focused="focusHorizontalItem($event, $originalEvent)" on-selected="openChannel($event, $originalEvent,{{item.id}})">
            <span class="hidden channelId">{{item.id}}</span>
            <span class="hidden isFavorite">{{item.favorite}}</span>

            <div class="col-xs-12 no-padding itemBannerLogoBox">
                <div class="favorite-star" ng-if="item.favorite"><img src="App/assets/images/favorite_star.png" alt="" /></div>
                <div class="itemBannerBox col-xs-12 no-padding"><img class="itemBanner" ng-src="{{item.screenshot_url}}" alt=""></div>
            </div>
            <div class="itemInfo col-xs-12">
                <div class="col-xs-12 no-padding logoTitleBox">
                    <span class="itemTitle no-padding col-xs-12">{{item.title}}</span>
                </div>
                <span class="itemGenre no-padding col-xs-12">
                    <span class="itemCategoryValue" ng-repeat="cat in item.channel_categories">
                        {{cat.name}} {{$last ? '' : ', '}}
                    </span>
                </span>
            </div>
            <a href="#" class="atag"></a>
        </div>
    </caph-list>
</div>
