html, body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto';
}
body{
    background-color: #eee;
    color: #333;
}
img{
    max-width: 100%;
}
.d-flex{
    display: flex !important;
}
.no-padding{
    padding: 0 !important;
}
.mt-0{
    margin-top: 0 !important;
}
.login-image-wrapper,
.app-wrapper,
.loginWrapper{
    min-height: 100vh;
}
.loginWrapper .login-image{
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
}
.loginWrapper .forgot-form-wrapper,
.loginWrapper .login-form-wrapper{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.loginWrapper .login-title{
    font-size: 4em;
}
.loginWrapper .login-description{
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.5em;
}
.loginWrapper .loginInput{
    width: 60%;
}
.loginWrapper .loginInput > input{
    background-color: #fff;
    padding-left: 15px;
    height: 60px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
    outline: none;
    letter-spacing: 1px;
    border: 3px solid #333;
    color: #333;
    transition: all 0.1s ease-in;
    font-size: 26px;
}
.loginWrapper .login-btn{
    background-color: #333;
    height: 60px;
    line-height: 64px;
    box-sizing: border-box;
    display: block;
    width: 60%;
    color: #fff;
    margin-top: 35px;
    outline: none;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 300;
    position: relative;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: all 0.1s ease-in;
}
.loginWrapper .forgot-link{
    font-size: 24px;
}
.loginWrapper .loginInput.focused > input{
    border: 5px solid #0fa0db;
    transform: scale(1.05);
}
.loginWrapper .login-btn.focused{
    background-color: #0fa0db;
    transform: scale(1.05);
    font-weight: bold;
}
.loginWrapper .forgot-link.focused{
    transform: scale(1.05);
    font-weight: bold;
    color: #0fa0db;
}
.loginWrapper .login-error-msg,
.loginWrapper .forgot-password-message{
    background-color: #ffd0c8;
    border: 1px solid #ff1122;
    color: #ff0000;
    padding: 12px;
    width: 60%;
    margin-bottom: 20px;
    position: relative;
    top: -15px;
    font-size: 20px;
}
.loginWrapper .forgot-password-message.success{
    color: #69af50;
    background-color: #bfffb3;
    border-color: rgba(115,182,90,.5);
}

.popup-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.8) ;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999999
}
.popup{
  position: relative;
  background-color: #202a31;
  width: 50%;
  left: 25%;
  top: 25%;
  color: #ffffff;
  text-align: center;
  font-size: 42px;
  border-radius: 2px;
  padding: 50px 20px
}
.popup-wrapper.loader{
  opacity: 1;
  background-color: #001d31;
}
.loader .popup{
  background-color: #001d31;
  opacity: 1;
  top: 15%
}

/* Absolute Center Spinner */
.loading {
	position: fixed;
    background-color: #eee;
	z-index: 99999;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.player-loader.loading{
    background-color: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-loader.loading .bufferInfo{
    color: #fff;
    font-size: 24px;
    position: relative;
    top: -20px;
    left: -15px;
}
.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 44px;
    position: fixed;
    left: 48%;
    top: 52%;
    width: 1em;
    height: 1em;
    margin-top: -1.5em;
    -webkit-animation: spinner 2500ms infinite linear;
    -moz-animation: spinner 2500ms infinite linear;
    -ms-animation: spinner 2500ms infinite linear;
    -o-animation: spinner 2500ms infinite linear;
    animation: spinner 2500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: #0fa0db 1.5em 0 0 0, #0fa0db 1.1em 1.1em 0 0, #0fa0db 0 1.5em 0 0, #0fa0db -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #0fa0db 0 -1.5em 0 0, #0fa0db 1.1em -1.1em 0 0;
    box-shadow: #0fa0db 1.5em 0 0 0, #0fa0db 1.1em 1.1em 0 0, #0fa0db 0 1.5em 0 0, #0fa0db -1.1em 1.1em 0 0, #0fa0db -1.5em 0 0 0, #0fa0db -1.1em -1.1em 0 0, #0fa0db 0 -1.5em 0 0, #0fa0db 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-moz-keyframes spinner {
0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-o-keyframes spinner {
0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes spinner {
0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

/* Main template */
.mainWrapper {
    padding: 0px;
    height: 100%;
    position: fixed;
}
.help-bar-wrapper,
.mainWrapper .headerBox {
    padding-bottom: 20px;
    padding-top: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 30px -2px rgb(216, 216, 216);
    -moz-box-shadow: 0px 5px 30px -2px rgb(216, 216, 216);
    box-shadow: 0px 5px 30px -2px rgb(216, 216, 216);
    z-index: 10
}
.mainWrapper .headerBox{
    z-index: 20;
}
.mainWrapper .headerBox .logo img {
    max-width: 100%;
    top: 7px;
    left: -50px;
    position: relative;
}
.mainWrapper .headerBox .modules{
    height: 75px;
    position: relative;
    left: -50px;
}
.homeWrapper{
    padding-top: 30px;
}
.mainWrapper .menuHorizontalList {
    width: 1400px;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 12px;
}
.mainWrapper .menuHorizontalList .menuItem {
    width: 210px;
    height: 60px;
    margin: 0px 5px;
}
.mainWrapper .headerBox .activeTemplate {
    height: 50px;
    text-transform: uppercase;
    font-size: 40px;
}
.mainWrapper .menuHorizontalList .menuItem .itemTitle {
    text-transform: uppercase;
    font-size: 40px;
}
.mainWrapper .menuHorizontalList .menuItem.focused .itemTitle {
    color: #2991dd;
    font-weight: bold;
}
.mainWrapper .headerBox .currentTime {
    font-size: 2em;
    position: relative;
    top: 15px;
}
.highlightedWrapper {
    padding-bottom: 20px
}
.mainWrapper .mainContentBox {
    height: 960px;
    position: relative;
    padding-top: 0px;
}
.mainWrapper .mainBoxWrapper {
    height: 900px;
    position: relative;
}
.mainWrapper .mainContentBox .highlightedList {
    width: 1600px;
    height: 565px;
    left: 160px;
    position: relative
}
.mainWrapper .mainContentBox .highlightedList .highlightedItem {
    width: 1550px;
    height: 565px;
    margin: 0 5px;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
}
.mainWrapper .mainContentBox .highlightedList .highlightedItem img.itemBanner {
    z-index: -1;
    position: absolute;
    margin: 0 5px;
    opacity: 0.75;
    transition: all 0.1s ease-out;
    width: 100%;
    justify-content: center;
    align-self: center;
}
.mainWrapper .mainContentBox .highlightedList .focused img.itemBanner {
    opacity: 1;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.mainWrapper .mainContentBox .highlightedList .highlightedItem .itemInfo {
    padding: 30px;
    position: absolute;
    bottom: 25px;
    left: 30px;
    background-color: rgba(0,0,0,0.4);
    color: #eee;
    border-radius: 5px;
}
.mainWrapper .mainContentBox .highlightedList .focused .itemInfo{
    background-color: rgba(0,0,0,0.7);
}
.mainWrapper .mainContentBox .highlightedList .highlightedItem .itemTitle,
.mainWrapper .mainContentBox .highlightedList .highlightedItem .itemGenre {
    font-size: 38px;
}
.mainWrapper .mainContentBox .highlightedList .highlightedItem .itemDescription {
    font-size: 26px;
    max-height: 150px;
    overflow: hidden;
}
.mainWrapper .mainContentBox .channelList .channelItem .itemBannerBox {
    max-height: 160px;
    text-align: center;
    margin-top: 15px;
}
.mainWrapper .mainContentBox .itemsContainer .itemBannerBox {
    max-height: 215px;
    background: #fff;
    text-align: center;
}
.mainWrapper .mainContentBox .itemsContainer .focused .itemInfo,
.mainWrapper .mainContentBox .channelList .focused .itemInfo {
    opacity: 1;
}
.mainWrapper .mainContentBox .channelList .focused img.itemBanner {
    opacity: 1;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.mainWrapper .mainContentBox .itemsContainer img.itemLogo,
.mainWrapper .mainContentBox .channelList img.itemLogo {
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.mainWrapper .mainContentBox .itemsContainer .focused img.itemLogo,
.mainWrapper .mainContentBox .channelList .focused img.itemLogo {
    width: 100%;
    height: 100%;
}
.mainWrapper .mainContentBox .itemsContainer .itemInfo,
.mainWrapper .mainContentBox .channelList .channelItem .itemInfo {
    height: 125px;
    padding: 15px;
    background:#fff;
    text-align: center
}
.mainWrapper .mainContentBox .itemsContainer .itemInfo {
    min-height: 215px;
    background-size: auto;
}
.mainWrapper .mainContentBox .itemsContainer .itemLogo,
.mainWrapper .mainContentBox .channelList .channelItem .itemLogo {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
}
.mainWrapper .mainContentBox .itemsContainer .chTitle,
.mainWrapper .mainContentBox .channelList .channelItem .itemTitle {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainWrapper .mainContentBox .itemsContainer .itemGenre .itemCategoryValue,
.mainWrapper .mainContentBox .channelList .channelItem .itemGenre .itemCategoryValue {
    font-size: 26px;
}
.defaultListWrapper,
.channelListWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px
}
.defaultListWrapper h2,
.channelListWrapper h2 {
    color: #333;
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-top: 0;
    font-weight: 400;
}
.channelCategoriesWrapper{
    margin-top: 0;
    background: #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
    z-index: 20;
}
.channelCategoriesWrapper h2{
    padding-left: 10px;
    margin-top: 30px;
}
.mainWrapper .mainContentBox .defaultHorizontalList,
.mainWrapper .mainContentBox .channelList {
    width: 1820px;
    height: 325px;
    position: relative;
}
.mainWrapper .mainContentBox .channelList .channelItem {
    width: 315px;
    height: 285px;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 5px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    background: #fff;
}
.mainWrapper .mainContentBox .channelList .channelItem.focused{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 4px rgb(15, 160, 219);
}
.mainWrapper .mainContentBox .channelList .channelItem img.itemBanner {
    max-width: 70%;
    z-index: 1;
    opacity: 1;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.mainWrapper .mainContentBox .channelCategories {
    height: 175px
}
.mainWrapper .mainContentBox .channelCategories .categoryItem {
    width: 445px;
    height: 175px;
    margin: 0 15px;
    background: #fff;
}
.mainWrapper .mainContentBox .channelCategories .categoryItem .itemInfo {
    position: absolute;
    top: 35%;
    text-align: center;
    font-size: 38px;
}
.mainWrapper .mainContentBox .channelCategories .itemTitle{
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.mainWrapper .mainContentBox .channelCategories .activeGenre,
.mainWrapper .mainContentBox .channelCategories .focused{
    box-shadow: 0px 0px 5px 4px rgb(15, 160, 219);
}
.mainWrapper .mainContentBox .channelCategories .focused .itemTitle {
    transform: scale(1.25);
    display: block;
}
.liveTVChannelListWrapper{
    margin-top: 25px;
    z-index: 10;
}
.mainWrapper .mainContentBox .channelList.verticalList{
    height: 350px;
    width: 1890px;
}
.mainWrapper .mainContentBox .channelList.verticalList .channelItem {
    width: 415px;
    height: 300px;
    margin: 0 25px 25px 25px;
    float: left;
}
.favorite-star{
    position: absolute;
    top:5px;
    right: 5px;
    z-index: 9999;
    background-color:rgba(0,0,0,0.7);
    border-radius: 5px;
    padding: 5px
}
.favorite-star img{
    max-width: 100%;
    width: 30px;
    height: 30px;
}
.help-bar-wrapper{
    position: fixed;
    bottom: 0;
    z-index: 99999;
    width: 100%;
    padding: 15px 50px;
    font-size: 32px;
}
.help-bar-wrapper .helpItem{
    padding: 0 20px
}
.help-bar-wrapper .helpItem .roundBtn{
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    border-radius: 50px;
    padding: 2px 6px 6px 6px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
}
.help-bar-wrapper .helpItem .roundBtn.red{background: red;}
.help-bar-wrapper .helpItem .roundBtn.green{background: green;}
.help-bar-wrapper .helpItem .roundBtn.yellow{background: yellow;}
.help-bar-wrapper .helpItem .roundBtn.blue{background: blue;}

.playerTemplateWrapper .sideChannelsListVertical {
    width: 350px;
    height: 850px;
}
.playerTemplateWrapper .sideChannelVertical {
    width: 350px;
    height: 160px;
    margin-bottom: 25px;
    padding: 15px 70px 30px 70px;
    text-align: center;
}
.playerTemplateWrapper .sideChannelVertical:after {
    content: "";
    height: 2px;
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(147,147,147,1) 50%,rgba(255,255,255,0) 100%);
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
}
.videoTemplateWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none
}
#av-player {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1
}
.verticalChannelList {
    width: 350px;
    height: 1080px;
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
    background-color:#fff;
    opacity: 0.98;
    padding-top: 50px
}
.sideChannelsListVertical {
    height: 750px;
    width: 400px;
}
.sideChannelVertical {
    width: 100px;
    height: 100px;
}
.sideChannelVertical img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}
.playerTemplateWrapper .sideChannelsListVertical {
    width: 350px;
    height: 650px;
}
.playerTemplateWrapper .sideChannelVertical {
    width: 350px;
    height: 160px;
    margin-bottom: 25px;
    padding: 15px 70px 20px 70px;
    text-align: center;
}
.playerTemplateWrapper .sideChannelVertical:after {
    content: "";
    height: 2px;
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(147,147,147,1) 50%,rgba(255,255,255,0) 100%);
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
}
.playerTemplateWrapper .sideChannelVertical.focused{
    background: #ededed;
}
.playerTemplateWrapper .sideChannelVertical .extendCard{
    color: #2991dd;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    position: absolute;
    top: 1px;
    height: 100%;
    max-height: 160px;
    width: 100%;
    background: rgba(237, 237, 237, .95);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-word;
    right: 0;
    z-index: -1;
    opacity: 0;
    line-height: 40px;
}
.playerTemplateWrapper .sideChannelVertical.focused .extendCard{
    width: 550px;
    left: 350px;
    height: 160px;
    opacity: 1;
    transition: width .2s ease-out, opacity .3s ease .1s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.channelInfoBarWrapper {
    height: 400px;
    z-index: 99999;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color:rgba(255,255,255,0.9);
    opacity: 1;
    padding: 25px 50px;
    width: 100%;
    color: #333;
}
.channelInfoBarWrapper .arrow-box {
    font-size: 32px;
    text-align: center
}
.channelInfoBarWrapper .arrow-left-box {
    padding: 140px 0px 30px 30px;
    font-size: 38px;
    width: 4%;
    float: left
}
.channelInfoBarWrapper .arrow-right-box {
    padding: 140px 0px 30px 100px;
    right: -25px;
    font-size: 38px;
    width: 0%;
    position: relative;
}
.channelInfoBarWrapper .arrow-up-box {
    padding-bottom: 25px;
    padding-top: 10px
}
.channelInfoBarWrapper .arrow-down-box {
    padding-top: 10px
}
.channelInfoBarWrapper .channel-logo {
    height: 150px;
    margin-bottom: 25px
}
.channelInfoBarWrapper .channel-logo img {
    width: 100%;
    height: 100%;
}
.channelInfoBarWrapper .channel-title {
    font-size: 36px;
    text-align: center;
}
.channelInfoBarWrapper .details-box {
    padding: 15px 0px 15px 20px;
    font-size: 36px;
}
.channelInfoBarWrapper .details-box .details-title {
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: bold;
}
.channelInfoBarWrapper .details-box .details-epg-desc {
    overflow: hidden;
    height: 145px;
    font-size: 32px;
    font-weight: 400;
}
.playerTemplateWrapper .sideChannelVertical .extendCard .channelTitle{
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
    color: #333;
    font-size: 34px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: none;
}
.playerTemplateWrapper .sideChannelVertical .extendCard .epgInfo{
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
    color: #333;
    text-transform: none;
    margin-top: 10px;
    font-weight: 500;
}
.playerTemplateWrapper .sideChannelVertical .extendCard .epgInfo span{
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
}
.playerTemplateWrapper .sideChannelVertical .extendCard .epgInfo .epgTime{
    font-size: 28px;
    color: #333;
    text-align: right;
    width: 175px;
    display: inline-block;
    float: right;
    position: relative;
    bottom: 0px;
}